[Unit]
Description=OctoberCMS DiscordBot

[Service]
User=user
Group=group
Restart=on-failure
RemainAfterExit=yes
ExecStart=/usr/bin/php /path/to/octobercms/artisan bot:discord
StartLimitBurst=0

[Install]
WantedBy=multi-user.target